/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2017, 12:10:23 PM
    Author     : Don
*/
       Button{
         -fx-background-color:lightblue; 
         -fx-padding : 5 20 5 20;
          -fx-text-fill : blueviolet;
         -fx-font-size : 13;
         }
         Text{
             -fx-font: normal bold 20px 'San-serif';
               -fx-text-fill : green;
         }
       GridPane{
            -fx-background-color:lightyellow;
            -fx-spacing:50;
            
       }
       .text3{
          -fx-text-fill: Red;
       }
       Button:hover{
           -fx-background-color : #999;
           -fx-text-fill : #112;
       }

